name: Auto Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            mkdir -p ~/app
            cd ~/app

            # First time clone
            if [ ! -d ".git" ]; then
              git clone https://github.com/nithyanand9969/FRC-planter.git .
            else
              git pull origin main
            fi

            docker stop frc-app || true
            docker rm frc-app || true

            docker build -t frc-app .

            docker run -d --restart always -p 80:80 --name frc-app frc-app